* {
	margin: 0;
	padding: 0;
	/* box-sizing: border-box; */
}

body {
	width: 100vw; /* 100% de la largeur de la fenêtre */
	height: 100vh;
	display: flex;
	align-items: center;
	justify-content: center;
	/* cursor: url('./assets/HANDSCURSOR2.cur'), auto; */
	background-color: aliceblue;
}

#root{
	width: 60%;
	height: 50%;
	border: 7px solid rgb(255, 237, 241);
	border-radius: 50px;
	display: flex;
	flex-direction: column;
	justify-content: space-around;
	align-items: center;
	background-color: white;
}

.text-div{
	width: 60%;
	min-height: 20%;
	height: 100px;
	display: flex;
	align-items: center;
	align-content: center;
	justify-content: center;
	
}

.input-to-edit, .text-to-print{
	width: 100%;
	font-family: "Ubuntu", sans-serif;
	font-weight: 500;
	font-size: 40px;
	font-style: normal;
	border: 3px dashed transparent;
	color: rgb(49, 49, 49);
}

.input-to-edit{
	outline: none;
	transition: border 0.2s ease;
}

.input-to-edit:hover{
	border-color: pink;
}

.input-to-edit::placeholder{
	color: rgb(155, 155, 155);
}